<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.mfa.simple.pagetitle}">CAS Multifactor Authentication View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="login">
        <form method="post" id="fm1" class="fm-v clearfix" th:object="${credential}" th:action="@{/login}" th:classappend="${autologin ? 'd-none' : ''}">
            <div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
            </div>

            <div class="form-group">
                <label for="token" class="fl-label" th:utext="#{esup.nfc.cas.mfa.label.token}">Token:</label>
                <input type="password" class="form-control required" id="token" size="25" tabindex="1"
                       th:field="*{token}"
                       th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>
                <div>
                    <p/>
                </div>
            </div>
            <input class="btn btn-submit" accesskey="l"
                   th:value="#{screen.welcome.button.login}" tabindex="4" type="submit"/>
            <input type="hidden" name="_eventId_submit" value="Login" />
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="geolocation"/>
        </form>
        
        <div class="form-group" th:classappend="${autologin ? '' : 'd-none'}">
			<h3 th:utext="#{esup.nfc.cas.mfa.label.autologin}">Please swipe your tag</h3>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
        </div>
            
            <script type="text/javascript" th:if="${autologin}">
            
            /* esupNfc LONG POLL */
            var esupNfcLongPoll = {
                debug: false,
                run: false,
                timer: undefined,
                lastAuthDate: 0,
                list: undefined
            };
            esupNfcLongPoll.start = function() {
                if (!this.run) {
                    this.run = true;
                    this.timer = this.poll();
                }
            }
            esupNfcLongPoll.clear = function() {
                //
            }
            esupNfcLongPoll.stop = function() {
                if (this.run && this.timer != null) {
                    clearTimeout(this.timer);
                }
                run = false;
            }
            esupNfcLongPoll.load = function() {
                if (this.run) {
                    var request = new XMLHttpRequest();
                    request.open('GET', "/esupnfc?uid=[[${principal.id}]]", true);
                    request.onload = function() {
                        if (request.status >= 200 && request.status < 400) {
                            var message = this.response;
                            if (message && message.length) {
                                if (message != "stop") {
                                    $('#token').val(message);
                                    $('#fm1').submit();
                                }
                            } else {
                                setTimeout(function() {
                                    esupNfcLongPoll.timer = esupNfcLongPoll.poll();
                                }, 2000);
                            }
                        }
                    };
                    request.onerror = function() {
                        // Plus de session (et redirection CAS) ou erreur autre ... on stoppe pour ne pas boucler
                        console.log("esupNfcLongPoll stoppé ");
                    };
                    request.send();
                }
            }
            esupNfcLongPoll.poll = function() {
                if (this.timer != null) {
                    clearTimeout(this.timer);
                }
                setTimeout(esupNfcLongPoll.load(), 1000);
            }
            esupNfcLongPoll.start();
            /* esupNfc LONG POLL - END*/
            
            
            </script>
            
        
        </div> 
</main>
</body>
</html>
